body {
    background-color: rgba(84,45,130,0.6);
    text-align: center; 
    font-size: 15px; 
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#mainHeader {
    font-weight: bold;
    background-color: rgb(141, 115, 143);
    color: black;
    border: solid;
    border-radius: 200px;
    display: inline-block;
    border-width: 4px;
    border-color: purple;
    text-shadow: rgb(68, 16, 30) 1px 0 10px;
    font-size: 40px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: purple;
}
#smallHeader {
    font-weight: bold;
    color: black;
    background-color: rgb(141, 115, 143);
    border: solid;
    border-radius: 200px;
    display: inline-block;
    border-width: 2px;
    border-color: black;
    font-size: 27px;
    text-shadow: rgb(68, 16, 30) 1px 0 10px;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: purple;
    padding-left: 10px;
    padding-right: 10px;
}
#smallerHeader {
    font-weight: bold;
    font-size: 20px;
    text-shadow: rgb(68, 16, 30) 1px 0 10px;
    background-color: rgb(141, 115, 143);
    color: black;
    display: inline-block;
    border-radius: 200px;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: purple;
    padding-left: 10px;
    padding-right: 10px;
}
#calculatedDPS {
    font-size: 30px;
    text-shadow: red 1px 0 10px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: purple;
}
#percentilePreviews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#percentilePreviewMinimums {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
#numberFightTime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: absolute;
    top: 210px;
    right: 5%;
    left: 5%;
}
#fightMinutes,
#fightSeconds {
    font-size: 23px;
    display: inline-block;
    border: solid;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgray;
}
#flexy {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*PERCENTILES*/

#percentileResult,
#zeroPerc,
#tenPerc,
#lowerPerc,
#medianPerc,
#highPerc,
#ninetyPerc,
#orangePerc,
#topPerc,
#peakPerc {
    font-size: 17px;
    display: inline-block;
    border: solid;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#zeroPerc, #tenPerc {
    background-color: gray;
    color: black;
    border-color: black;
    text-shadow: black 1px 0 10px;
}
#lowerPerc {
    background-color: rgb(15,185,15);
    color: rgb(0, 54, 0);
    border-color: rgb(0, 54, 0);
    text-shadow: rgb(0, 54, 0) 1px 0 10px;
}
#medianPerc {
    background-color: rgb(82, 82, 250);
    color: rgb(0, 2, 110);
    border-color: rgb(0, 2, 110);
    text-shadow: rgb(0, 2, 110) 1px 0 10px;
}
#highPerc, #ninetyPerc {
    background-color: rgb(183, 82, 250);
    color: rgb(55, 0, 80);
    border-color: rgb(55, 0, 80);
    text-shadow: rgb(55, 0, 80) 1px 0 10px;
}
#orangePerc {
    background-color: rgb(250, 158, 82);
    color: rgb(80, 43, 0);
    border-color: rgb(80, 43, 0);
    text-shadow: rgb(80, 43, 0) 1px 0 10px;
}
#topPerc {
    background-color: rgb(247, 131, 227);
    color: rgb(114, 0, 85);
    border-color: rgb(114, 0, 85);
    text-shadow: rgb(114, 0, 85) 1px 0 10px;
}
#peakPerc {
    background-color: rgb(250, 233, 82);
    color: rgb(80, 79, 0);
    border-color: rgb(80, 79, 0);
    text-shadow: rgb(80, 79, 0) 1px 0 10px;
}